# Ignore raw data files
data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore system and editor files
.DS_Store
Thumbs.db
.vscode/
